:root{
    --main-color: #1F4E79;
    --secondary-color: #7A1F3D;
    --accent-color: #F4C542;
    --light-background: #F8FAFC;
    --text-color: #1E293B;
}

#branding {
    color: var(--secondary-color);
}

#branding2 {
    color: var(--secondary-color);
}

.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.socials a {
    text-decoration: none;
}

.socials i {
    font-size: 28px;
    color: var(--main-color);
    transition: 0.3s ease;
}

.socials i:hover {
    transform: scale(1.2);
    color: #e1306c; /* adjust per brand if you want precision */
}

footer {
    text-align: center;
    padding: 5px;
    background-color: var(--secondary-color);
    color: var(--light-background);
}

#brand{
    color: var(--light-background);
}

#safesteps-brand {
    color: var(--accent-color);
}