:root{
    --main-color: #7A1F3D;
    --secondary-color: #1F4E79;
    --accent-color: #F4C542;
    --light-background: #F8FAFC;
    --text-color: #1E293B;

}

header {

    padding: 2rem;
    text-align: center;
    color: var(--text-color);
}  

h1,h2 {
    font-family: "Alice",sans-serif,Helvetica;
}

body{
    background-color: var(--light-background);
    font-family: sans-serif,Arial,Helvetica;
}

section {
    padding: 20px;
    margin: 10px;
    border-left: solid 5px var(--main-color);
    text-align: center;
    box-shadow: 0 4px 12px rgba(1,1,1,0.1);
    transition: transform 0.2s ease;
}

section:hover {
    transform: translateY(10px)
}

section li {
    list-style-type: none;

}

footer {
    text-align: center;
    padding: 5px;
    background-color: var(--secondary-color);
    color: var(--light-background);
}

#brand{
    color: var(--main-color);
}

#safesteps-brand {
    color: var(--accent-color);
}

.hero{
    border-radius: 2rem 2rem 2rem 0;
}

.problem-snap{
    border-radius: 0 2rem 2rem 0;
}

.why-it-matters{
    border-radius: 0 2rem 2rem o;
}

.nav-cards{
    border-radius: 0 2rem 2rem 2rem;
}

#brand-name{
    font-size: 5rem;
    color: var(--main-color);
}

#sec-brand-name{
    font-size: 5rem;
    color: var(--secondary-color);
}

.nav-cards nav ul li{
    list-style: none;
    padding: 5px;
    
}

.nav-cards nav ul li a{
    padding: 5px;
}

#survey-link{
    color: var(--main-color);
}

#solutions{
    color: var(--secondary-color);
}

#involve{
    color: var(--accent-color);
}

#see-here{
    color: var(--accent-color);
}

button{
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: var(--main-color);
}

#button-link{
    color: var(--accent-color);
}